<!DOCTYPE html>
<html>
  <head>
    <title>Nite Mode</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="icon" href="static/images/astronaut.png" />
    <meta charset="UTF-8" />
    <meta name="description" content="Convert your files to dark mode" />
    <meta
      name="keywords"
      content="Dark mode, nite mode, night mode, night, dark, mode, nite, open source, open , source, python"
    />
    <meta name="author" content="Ankit Chawla" />
  </head>
  <body style="background-color: black; color: white">
    <div class="logo">
      <i style="color: whitesmoke" class="fas fa-moon fa-2x" class="icon"></i>
      <h1 style="background-color: black; color: white" class="text">
        Nite Mode
      </h1>
      <a href="https://thechawla225.pythonanywhere.com/sendApk"
        ><i
          style="
            color: whitesmoke;
            font-size: 50px;
            position: absolute;
            top: 8px;
            right: 80px;
          "
          class="fab fa-android"
          aria-hidden="true"
        ></i>
      </a>
      <a href="https://github.com/thechawla225/NiteModeFlask">
        <i
          style="
            color: whitesmoke;
            font-size: 50px;
            position: absolute;
            top: 8px;
            right: 16px;
          "
          class="fab fa-github"
        ></i>
      </a>
    </div>

    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />

    <div style="color: white">
      <i style="font-size: 300px" class="fas fa-user-astronaut"></i>
    </div>
    <br />
    <br />

    <!-- This is where the upload form starts-->
    <form
      method="post"
      enctype="multipart/form-data"
      action="https://thechawla225.pythonanywhere.com/uploader"
    >
      <div>
        <label class="custom-file-upload">
          Choose file
          <input name="file" type="file" />
        </label>
        <input type="submit" value="Make it dark" id="submit" />
      </div>
    </form>
    <!--form ends here-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 align="center">What does Nite Mode do?</h1>
    <p align="center">
      Nite Mode takes your pdf files, and simply turns the lights off.
    </p>
    <br />
    <br />

    <div class="row">
      <div class="column">
        <img
          src="static/images/LightFile.png"
          alt="Light"
          style="width: 100%"
        />
      </div>
      <div class="column">
        <img src="static/images/Dark.png" alt="Dark" style="width: 100%" />
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h1 align="center">Relax your eyes, turn the lights off.</h1>
    <br />
    <div
      style="width: 100%; height: 0; padding-bottom: 151%; position: relative"
    >
      <iframe
        src="https://giphy.com/embed/B8MhRFZsRVRmg"
        width="100%"
        height="80%"
        style="position: absolute"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe>
    </div>
    <h3 align="center">
      <a align="center" href="https://giphy.com/gifs/light-left-B8MhRFZsRVRmg"
        >via GIPHY</a
      >
    </h3>
    <br />

    <div>
      <h3>
        We Credit <a href="https://fontawesome.com">Font Awesome</a> for
        providing us the icons used in this page
        <a href="https://fontawesome.com/license">View Font Awesome License</a>
      </h3>
    </div>
  </body>
</html>
